@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /* width: 100%; */
  }

  .mainFileApp{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bgVector{
    background: url("assets/Path.svg");
    /* background-position: center ; */
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

/* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
  } */

.navbar-menu-container {
    display: none;
  }



  @media (max-width: 1200px) {
    .navbar-menu-container {
        display: flex;
    }
    .nav-item{
        display: none;
    }
}

